.root {
    -fx-base: #f4f8fc;
    -fx-font-family: "Segoe UI", Arial, sans-serif;
}
.label, .table-view, .button, .table-row-cell {
    -fx-text-fill: #222;
}
.button {
    -fx-background-color: #4e9cff;
    -fx-text-fill: white;
}
.button:hover {
    -fx-background-color: #0060d3;
}
.table-view {
    -fx-background-color: #e3eefd;
}
.table-row-cell:filled:selected {
    -fx-background-color: #a4d3fa;
}